<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
  	<header>
  		<!-- <h1><%= title%></h1>-->
  	</header>

  	<div class="navbg">
      <div class="navbg2">
    		<div class="nav_"><a class="nav_a" title="主页" href="/">主页</a></div>
        <div class="nav_"><a class="nav_a" title="搜索" href="/search">搜索</a></div>
        <div class="nav_"><a class="nav_a" title="最热" href="/">热点</a></div>

        <% if(user) { %>
        <div class="nav_"><a class="nav_a" title="发表" href="/post">发表</a></div>
        <% } %>

      
        <% if(user) { %>
        <div class="l"><a title="登出" href="/logout">登出</a></div>
        <% } else { %>
    		<div class="l"><a title="登录" href="/login">登录</a></div>
    		<div class="l"><a title="注册" href="/reg">注册</a></div>
        <% } %>
  	  </div>
    </div>
    <div class="center">
  	<article>

<!-- 
      <% if (success) {%>
      <div><%= success  %></div>
      <% } %>
      <% if (error) {%>
      <div><%= error %></div>
      <% } %>
      
      -->