/*
 inspired by http://yihui.name/cn/ */

*{padding:0;margin:0;}

.center{width:600px;margin:1em auto;padding:0 2em;font-family:"Microsoft YaHei";background-color:#efeeeb;}

p{line-height:24px;margin:1em 0;}

/*header{padding:.5em 0;border-bottom:1px solid #cccccc;}*/

nav{float:top;font-family:"Microsoft YaHei";font-size:1.1em;text-transform:uppercase;margin-left:-12em;width:9em;text-align:right;}

nav a{display:block;text-decoration:none;padding:.7em 1em;color:#000000;}

nav a:hover{background-color:#ff0000;color:#f9f9f9;-webkit-transition:color .4s linear;}

article{font-size:16px;padding-top:.5em;}

article a{color:#dd0000;text-decoration:none;}

article a:hover{color:#333333;text-decoration:underline;}

.info{font-size:14px;}

.nav_ {float:left;text-align: center; width:80px;height:40px;line-height:40px;font-size:20px;font-family:"Microsoft YaHei";}
.nav_a {text-decoration:none;width:auto;height:auto;padding: 7px 20px; color:#222;font-family:"Microsoft YaHei";}
.l {float:right;text-align: center;width:80px;height:40px; line-height:40px;font-size:14px;font-family:"Microsoft YaHei";}
.navbg {width:100%;height:40px;background-color:#ff8888;}
.navbg2 {width:664px;height:40px;margin:0 auto;padding:0 0;background-color:#ff8888}

.nav_a:hover{background-color:#ff0000;color:#f9f9f9;-webkit-transition:color .4s linear;} 
.companybg {width:100%;height:auto;background-color:#ff8888}
.company {width:1000px;height:auto;margin: 0 auto; font-size:12px;background-color:#ff8888}
.S_txt2 {text-decoration:none;width:auto;height:auto; color:#808080;padding: 0,1em;}

.loginAccountTitle{float:left;font-size:16px;margin:5px 0;}
.loginAccountEdit{width:320px;height:32px;font-size:16px;border-width:1px;border-color:black;margin:5px 0;}
#accountErrMsg{float:left;font-size:14px;color:#ff0000;margin:7px 0 7px 80px;display:none;}
#pwdErrMsg{float:left;font-size:14px;color:#ff0000;margin:7px 0 7px 80px;display:none;}
.accountEdit{clear:both;}
.postEdit{width:600px;height:360px;font-size:16px;border-width:1px;border-color:black;margin:5px 0;}
.submitBtn{
	font-family: "tahoma","Microsoft YaHei";
	font-size: 14pt;color: #003399;
	border:1px #003399 solid;
	color:#006699;
	border-bottom:#93bee2 1px solid;
	border-left:#93bee2 1px solid;
	border-right:#93bee2 1px solid;
	border-top:#93bee2 1px solid;
	background-color:#e8f4ff;
	cursor:hand;
	font-style: normal;
	width:120px;
	height: 36px; 
	margin: 5px 0;
}

/*.accountAndErrMsgDiv {float:left;height:auto;text-align: center;font-size:12px;font-family:"Microsoft YaHei";}*/


